/* 
RESET 
*/
button, input {
    background-color: transparent;
	color: inherit;
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
    font-family: inherit;
    text-align: left;
    font-size: inherit;
}   

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}



/* 
REUSABLES
*/
.flex {
    display: flex;
}

.grid {
    display: grid;
}

.center-y {
    align-items: center;
}

.center-x {
    justify-content: center;
}

.center {
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}